<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dublin Data</title>
	<!-- replace below -->
	<link rel="stylesheet" href="http://bunburya.eu/songlist/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
		var socket = io.connect('http://192.168.0.11:5000');
		socket.on('update', function(data) {
			// TODO:  Two tables side by side; each one pre-populated with empty cells according to
			// RESULT_COUNT.  On each update, blank all cells and then re-populate as necessary.

			// Update bus times
			$('tr').remove('.bus-luas-result');
			var bus_inbound = data['BUS']['Inbound'];
			var luas_inbound = data['LUAS']['Inbound'];
			var max_len = Math.max(bus_inbound.length, luas_inbound.length);
			var min_len = Math.min(bus_inbound.length, luas_inbound.length);
			for (var i = 0; i < min_len; i++) {
				var new_tr = $('<tr class="bus-luas-result"></tr>');
				new_tr.append(
						$('<td class="bus-route"></th>').text(bus_inbound[i]['route']),
						$('<td class="bus-stop"></th>').text(bus_inbound[i]['stop']),
						$('<td class="bus-dest"></th>').text(bus_inbound[i]['destination']),
						$('<td class="bus-due"></th>').text(bus_inbound[i]['duetime']),
						$('<td class="luas-route"></td>').text(luas_inbound[i]['route']),
						$('<td class="luas-stop"></td>').text(luas_inbound[i]['stop']),
						$('<td class="luas-dest"></td>').text(luas_inbound[i]['destination']),
						$('<td class="luas-due"></td>').text(luas_inbound[i]['duetime'])
					);
				$('#bus-luas-data-container').append(new_tr);
			}
			if (bus_inbound.length > luas_inbound.length) {
				for (var i = min_len; i < max_len; i++) {
					var new_tr = $('<tr class="bus-luas-result"></tr>');
					new_tr.append(
							$('<td class="bus-route"></th>').text(bus_inbound[i]['route']),
							$('<td class="bus-stop"></th>').text(bus_inbound[i]['stop']),
							$('<td class="bus-dest"></th>').text(bus_inbound[i]['destination']),
							$('<td class="bus-due"></th>').text(bus_inbound[i]['duetime']),
							$('<td class="luas-route"></td>'),
							$('<td class="luas-stop"></td>'),
							$('<td class="luas-dest"></td>'),
							$('<td class="luas-due"></td>')
						);
					$('#bus-luas-data-container').append(new_tr);
				}
			} else if (bus_inbound.length < luas_inbound.length) {
				for (var i = min_len; i < max_len; i++) {
					var new_tr = $('<tr class="bus-luas-result"></tr>');
					new_tr.append(
							$('<td class="bus-route"></th>'),
							$('<td class="bus-stop"></th>'),
							$('<td class="bus-dest"></th>'),
							$('<td class="bus-due"></th>'),
							$('<td class="luas-route"></td>').text(luas_inbound[i]['route']),
							$('<td class="luas-stop"></td>').text(luas_inbound[i]['stop']),
							$('<td class="luas-dest"></td>').text(luas_inbound[i]['destination']),
							$('<td class="luas-due"></td>').text(luas_inbound[i]['duetime'])
						);
					$('#bus-luas-data-container').append(new_tr);
				}
			}

			// Set last updated
			$('#last-updated').text(data['timestamp_str']);

		});
	});

    </script>
</head>
<body>
	<h1>Dublin Data</h1>
	<p>Last updated at <b id="last-updated"></b></p>
	<table id="bus-luas-data-container">
		<tr>
			<td colspan="4"><h2>Dublin Bus</h2></td>
			<td colspan="4"><h2>Luas</h2></td>
		</tr>
		<tr>
			<th>Route</th>
			<th>Stop</th>
			<th>Destination</th>
			<th>Due (minutes)</th>
			<th>Line</th>
			<th>Stop</th>
			<th>Destination</th>
			<th>Due (minutes)</th>
		</tr>
	</table>
</body>
</html>
